* {
    margin: 0%;
    padding: 0%;
    text-transform: capitalize;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    list-style: none;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    border: none;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f0f0f0;
}

header {
    background-color: black;
    padding: 0px 3%;
    display: flex;
    height: 10vh;
    width: 100%;
    position: fixed;
    z-index: 01010101010100;
    border-bottom: solid #febb55 2px;
}

header .logo {
    width: 30%;
    height: 100%;
    display: flex;
}

header .logo img {
    width: 30%;
}

header nav {
    height: 100%;
    width: 50%;
}

header nav ul {
    width: 100%;
    height: 100%;
    display: flex;
}

header nav ul li {
    width: 20%;
    height: 100%;
    display: flex;
}

header nav ul li a {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
    transition: 0.2s;
}

header nav ul li a:hover {
    background-color: #febb55;
    color: #ffffff;
}

main {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

main .poster {
    width: 60%;
    height: 100%;
    background-color: #febb55;
    position: absolute;
    right: 0;
    top: 0;
    transform: skew(-20deg) translateX(20%);
    box-shadow: 0px 0px 10px black;
    z-index: 9;
}

.main-img {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-19%);
    clip-path: polygon(49% 100%, 0 0, 100% 0);
    height: 90%;
    box-shadow: 0px 0px 10px black;
    z-index: 10;
}

.main-img-up {
    position: absolute;
    top: 15%;
    left: 61%;
    height: 50%;
    box-shadow: 0px 0px 10px black;
    background-color: #ffffff52;
    z-index: 11;
}

/* .main-img-up {
  position: absolute;
  top: 15%;
  left: 61%;
  height: 50%;
  opacity: 0.9;
} */

/* main .slide-con {
  width: 52%;
  height: 100%;
  position: absolute;
  top: 10%;
  left: 0%;
  height: 90%;
  overflow: hidden;
}

.slide-show {
  width: 400%;
  height: 100%;
  margin: auto;
  display: flex;
  position: relative;
  transition: 1s;
}

.slide {
  width: 25%;
  height: 100%;
}

.slide img {
  width: 100%;
  height: 100%;
}

button {
  position: absolute;
  font-size: 40px !important;
  padding: 5px 8px;
  border: none;
  outline: none;
  background-color: rgb(0, 0, 43, 0);
  border-radius: 10px;
  color: #febb55;
  text-transform: uppercase;
  font-weight: bold;
}

#next {
  right: 4%;
  top: 50%;
  transform: translateY(-50%);
}

#back {
  left: 2%;
  top: 50%;
  transform: translateY(-50%);
} */

main .heading {
    width: 52%;
    height: 100%;
    position: absolute;
    top: 10%;
    left: 0%;
    height: 90%;
    overflow: hidden;
    background-image: url(../img/need-house.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
}

main .heading .word {
    display: block;
    padding: 0px 5vh;
    background-color: rgba(0, 0, 0, 0.322);
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

main .heading .word h1 {
    font-size: 50px;
    text-transform: uppercase;
    /* color: #fcb141; */
    color: #a83b10;
    font-weight: bold;
    text-shadow: 0px 0px 4px white;
}

main .heading .word p {
    font-size: 25px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    text-shadow: 0px 0px 4px black;
}

main .heading .word p span {
    color: #ffa011;
    font-size: 40px;
}

.body-son {
    width: 90%;
    margin: auto;
    /* background-image: radial-gradient(white, #ffa011); */
    /* overflow: hidden; */
}

.body-son>section {
    width: 100%;
    padding: 10vh 0px;
}

.body-son>section h2 {
    text-align: center;
    /* color: #ffa011; */
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    color: gray;
}

.body-son>section>p {
    text-align: center;
    font-size: 40px;
    color: rgb(56, 56, 56);
    line-height: 40px;
    font-weight: bold;
}

.body-son>section>p span {
    text-align: center;
    font-size: 40px;
    color: #ffa011;
    display: block;
}

.body-son>section .con {
    display: flex;
    width: 100%;
    margin-top: 5%;
}

.body-son>section .con img {
    width: 50%;
    border-radius: 1%;
    padding: 0.3%;
    box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.342);
}

.body-son>section .con p {
    width: 50%;
    text-align: center;
    padding: 0px 3%;
    font-size: 22px;
}

.body-son>section .con p span {
    display: block;
    margin: 10px 0px;
    font-weight: bold;
}

.body-son>section .con p a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #a83b10;
    font-weight: bold;
}

.mid-bar {
    display: flex;
    text-align: center;
    font-size: 30px;
    background-color: #febb55;
    background-color: #eee82c;
}

.mid-bar>div {
    margin: auto;
}

.mid-bar p {
    font-weight: bold;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.342);
    color: rgb(39, 39, 39);
}

.mid-bar span {
    color: #a83b10;
    font-weight: bold;
    font-size: 40px;
}

.servesies .con {
    width: 100%;
}

.servesies .con div {
    width: 25%;
    background-color: #ffa011;
    text-align: center;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.342);
    border: solid #ffa011;
}

.servesies .con div img {
    width: 100%;
}

.servesies .con div p {
    width: 100%;
    color: rgb(49, 49, 49);
    margin: 1% 0px;
    font-weight: bold;
    letter-spacing: 1px;
}

.servesies .con div button {
    width: 60%;
    padding: 1% 2%;
    text-transform: uppercase;
    margin: 5px 0px;
    border-radius: 20px;
    background-color: #eee82c;
    color: #a83b10;
    font-weight: bold;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.342);
}

.daily {
    background-color: #eee82c;
    padding: 10vh 0px;
    width: 100%;
}

.daily h2 {
    text-align: center;
    /* color: #ffa011; */
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    color: gray;
}

.daily>p {
    text-align: center;
    font-size: 40px;
    color: rgb(56, 56, 56);
    line-height: 40px;
    font-weight: bold;
}

.daily .con {
    display: flex;
    width: 100%;
    margin-top: 5%;
}

.daily .con div {
    width: 25%;
    background-color: #ffa011;
    text-align: center;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.342);
    border: solid #ffa011;
    margin: auto;
}

.daily .con div img {
    width: 100%;
}

.daily .con div p {
    width: 100%;
    color: rgb(49, 49, 49);
    margin: 1% 0px;
    font-weight: bold;
    letter-spacing: 1px;
}

.daily .con div button {
    width: 60%;
    padding: 1% 2%;
    text-transform: uppercase;
    margin: 5px 0px;
    border-radius: 20px;
    background-color: #eee82c;
    color: #a83b10;
    font-weight: bold;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.342);
}

.daily a {
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #a83b10;
    font-weight: bold;
    margin-top: 5%;
    font-size: 30px;
}

.daily a:hover {
    color: #a83b10;
    text-decoration: underline #a83b10;
}

.contact {
    width: 100%;
    height: 70vh;
    background-image: url(../img/call.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: top 0px;
}

.contact .dark {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.329);
    display: flex;
    justify-content: center;
}

.contact .mid {
    text-align: center;
}

.contact .mid p {
    text-align: center;
    font-size: 40px;
    color: #ffffff;
    line-height: 45px;
    font-weight: bold;
    text-shadow: 0px 0px 10px rgb(77, 76, 76);
}

.contact .mid a {
    display: block;
    width: 35%;
    background-color: #ffa011;
    margin: 40px auto;
    text-decoration: none;
    color: #a83b10;
    font-weight: bold;
    justify-content: center;
    font-size: 25px;
    border-radius: 10px;
    padding: 3px;
    box-shadow: 0px 0px 10px rgb(63, 63, 63);
}

footer {
    width: 100%;
    height: 50vh;
    background-color: #423e3b;
    display: flex;
}

footer div {
    width: 25%;
    display: inline-block;
    margin: auto;
}

footer div img {
    width: 70%;
    display: block;
    margin: auto;
}

footer div p {
    color: rgb(212, 212, 212);
    font-weight: bold;
    text-align: center;
}

.powered {
    width: 100%;
    height: 10vh;
    background-color: #524e4b;
    display: flex;
    justify-content: center;
}

.powered p {
    color: rgb(212, 212, 212);
    text-align: center;
    font-size: 24px;
}

.powered p span {
    color: #ffa011;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
}

/* for java animate */

.about h2 {
    transform: translateY(-100%);
    opacity: 0;
    transition: 2s ease;
}

.about>p {
    transform: translateY(-100%);
    opacity: 0;
    transition: 2s ease;
}

.about .con img {
    transform: translateX(-100%);
    opacity: 0;
    transition: 2s ease;
}

.about .con p {
    transform: translateX(100%);
    opacity: 0;
    transition: 2s ease;
}