* {
    margin: 0%;
    padding: 0%;
    text-transform: capitalize;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    list-style: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0%;
}

header {
    width: 100%;
    height: 70px;
    position: absolute;
    /* background-color: #151f27; */
    padding: 0px 3%;
    padding-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000000000000000;
}

header>div {
    height: 100%;
}

header .logo img {
    height: 100%;
}

header nav {
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    padding: 0px 10px;
}

nav>ul {
    height: 100%;
    width: 100%;
    display: flex;
    padding-top: 17px;
    align-items: center;
    justify-content: space-around;
}

nav>ul>li {
    /* background-color: #584910; */
    background-image: linear-gradient(to right bottom, #86634a, #caaf6b);
    padding: 2px 0px;
    width: calc(90% / 5);
    text-align: center;
    border-radius: 4px;
    /* border: solid 1px #BB9C21; */
    position: relative;
}

nav>ul>#prods {
    display: none;
}

nav>ul>li:hover {
    cursor: pointer;
}

nav>ul>li a {
    font-family: Palatino;
    text-decoration: none;
    color: #e3e7eb;
    font-size: 15px;
    letter-spacing: 1.5px;
    font-family: "Caveat Brush";
}

nav>ul>li a:hover {
    font-family: Palatino;
    text-decoration: none;
    color: #e3e7eb;
    font-size: 15px;
    letter-spacing: 1.5px;
    font-family: "Caveat Brush";
}

nav>ul>li>div {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0%;
    display: none;
}

nav>ul>li:hover>div {
    position: absolute;
    width: 150%;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: block;
}

nav>ul>li>div>div {
    position: relative;
    width: 100%;
    padding-top: 15px;
}

nav>ul>li>div>div .arrow {
    display: block;
    background-color: #caaf6b;
    width: 20px;
    height: 15px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

nav>ul>li>div>div .links {
    display: block;
    background-color: #caaf6b;
    border-radius: 3px;
    overflow: hidden;
    padding-top: 5px;
}

nav>ul>li>div>div a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
    border-bottom: solid #e3e7eb6c 1px;
    color: white;
}

nav>ul>li>div>div a:hover {
    background-color: #86634a;
    color: #e3e7eb;
}

nav .lang {
    height: 100%;
    display: flex;
    align-items: center;
}

nav .lang a {
    color: #86634a;
    font-weight: bold;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #e3e7eb;
    display: block;
    text-align: center;
}

/* ############################################# */

main {
    width: 100%;
    height: 655px;
    background-image: url(../img/main2.jpg);
    background-position: top;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

main .dark {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    /* background-color: rgba(0, 0, 0, 0.459); */
}

main .heading {
    margin-left: 13%;
    z-index: 100;
}

main .heading h1 {
    font-size: 60px;
    color: #e3e7eb;
    text-transform: uppercase;
    font-family: "Kalam";
    font-weight: bold;
    text-shadow: 0px 0px 10px #86634a;
    letter-spacing: 2px;
}

main .heading p {
    font-size: 35px;
    color: #caaf6b;
    text-transform: uppercase;
}

main .heading button {
    font-size: 20px;
    color: #e3e7eb;
    text-transform: uppercase;
    outline: none;
    border: none;
    width: 150px;
    background-color: #86634a;
    border-radius: 3px;
    margin-right: 10px;
    border: solid #86634a;
    transition: 0.2s;
}

main .heading .book_btn {
    background-color: #86634a00;
    border: solid #86634a;
}

main .heading button:hover {
    background-color: #caaf6b;
    color: #ffffff;
    border: solid #caaf6b;
}

main .main_side_bar {
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translateY(-50%);
    height: 30%;
}

main .main_side_bar .son {
    position: relative;
    width: 100%;
    height: 100%;
}

main .main_side_bar .son a {
    display: block;
    font-size: 30px;
    background-image: linear-gradient(to right bottom, #86634a, #caaf6b);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: white;
    text-align: center;
    transition: 0.5s;
    padding: 0px 10px;
    margin: 10px 0px;
    transform: translateX(80%);
}

main .main_side_bar a:hover {
    width: auto;
    padding: 0px 10px;
    transform: translateX(0%);
}

/* #################products################## */

.products {
    padding: 40px 0px;
    background-color: #f0f0f0;
}

.products h2,
h3 {
    text-align: center;
    font-family: "Kalam";
    font-weight: bold;
    color: #151f27;
}

.products h3 {
    color: #caaf6b;
    text-shadow: 0px 0px 50px #151f27;
    margin-bottom: 30px;
}

.products .son {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    /* padding-top: 30px; */
}

.product {
    margin-top: 70px;
}

.products .son .bread {
    width: calc(90% / 3);
    border: solid #86634a;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #151f27;
}

.products .son .bread .prod {
    width: 100%;
    height: 100%;
    /* border: solid #caaf6b; */
    border: solid #caaf6b00;
    border-radius: 50%;
    overflow: hidden;
    transition: 0.3s ease;
    z-index: 10;
    transition-delay: 0.8s;
}

.products .son .bread:hover .prod {
    width: 65%;
    height: 65%;
    border: solid #caaf6b;
    transition-delay: 0s;
}

.products .son .bread .prod img {
    width: 100%;
    height: 100%;
}

.products .son .bread .drop {
    width: 15%;
    height: 15%;
    background-image: linear-gradient(to right bottom, #86634a, #caaf6b);
    border-radius: 50%;
    position: absolute;
    margin: 1.5%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
    font-size: 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.6s;
}

.products .son .bread .drop img {
    width: 100%;
}

.products .son .bread .delevry {
    transition-delay: 0.2s;
}

.products .son .bread .cost {
    transition-delay: 0.4s;
}

.products .son .bread .love {
    transition-delay: 0.6s;
    color: #151f27;
}

.products .son .bread:hover .details {
    top: 0%;
    transform: translateX(-50%);
}

.products .son .bread:hover .delevry {
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
}

.products .son .bread:hover .cost {
    top: 82.5%;
    left: 50%;
    transform: translateX(-50%);
}

.products .son .bread:hover .love {
    top: 50%;
    left: 82.5%;
    transform: translateY(-50%);
}

/* ################## footer ####################### */

footer {
    background-color: #86634a;
    display: flex;
    justify-content: space-around;
    padding: 30px 0px;
}

footer>div {
    width: calc(90% / 3);
    padding-left: 30px;
}

footer>div h4 {
    font-size: 40px;
    font-family: "Kalam";
}

footer>div p {
    color: white;
    font-family: "Kalam";
}

footer .menu_footer {
    padding-left: 10%;
}

footer .menu_footer a {
    display: block;
    text-decoration: none;
    color: white;
    font-family: "Kalam";
}

footer .search_bar {
    position: relative;
    width: 90%;
    height: 40px;
    overflow: hidden;
    border: solid #caaf6b 3px;
    border-radius: 5px;
}

footer .search_bar input {
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    outline: none;
    border: none;
}

footer .search_bar button {
    position: absolute;
    right: 0%;
    height: 100%;
    width: 25%;
    outline: none;
    border: none;
    background-color: #caaf6b;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(78, 68, 68);
}
.power {
    background-color: #080820;
    color: white;
    text-align: center;
    font-size: 2vw;
    font-family: "Comfortaa", cursive;
    font-weight: bold;
  }
  
  .power span {
    background-image: url(../img/text.png);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-family: "Comfortaa", cursive;
    font-weight: bold;
  }
/* ######################################### */

.color {
    color: #caaf6b;
    color: #86634a;
}
